* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

nav {
    position: fixed;
    width: 100%;
    padding: 30px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;

    span {
        display: inline-block;
        padding: 10px 30px;
        cursor: pointer;
        font-size: 24px;
    }
}

section {
    height: 100vh;
    background: #729DE8;
    font-size: 72px;
    text-align: center;
    color: #fff;

    &:nth-of-type(2) {
        background: #F59AAB;
    }
}

#toTop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
}
